body{
    background: black;
}
.c{
    float: left;
    height: 2px;
    width: 2px;
    /*border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
}
.a{
    background: white;
}
/*.row0 .cell{
    border-top: 1px solid #ccc;
}
.cell:first-child{
    border-left: 1px solid #ccc;
}*/


.r:after{
    content: '';
    display: block;
    clear: both;
}
