body{
    background: black;
}
.c{
    float: left;
    height: 3px;
    width: 3px;
    /*border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
}
.a{
    background: white;
}

.r:after{
    content: '';
    display: block;
    clear: both;
}
